.hoverStyle1:hover{
    box-sizing: border-box;
    border:4px solid #0875c1!important;
}

.hoverStyle2:hover{
    box-sizing: border-box;
    border:4px solid #d48121!important;
}

.hoverStyle3:hover{
    box-sizing: border-box;
    border:4px solid #ebebeb!important;
}

.hoverStyle4:hover{
    box-sizing: border-box;
    border:4px solid #079b84!important;
}



